<% title "Messages" %>

<table>
  <tr>
    <th>Body</th>
    <th>Views</th>
    <th>Max Views</th>
    <th>Hours</th>
  </tr>
  <% for message in @messages %>
    <tr>
      <td><%= message.body %></td>
      <td><%= message.views %></td>
      <td><%= message.max_views %></td>
      <td><%= message.hours %></td>
      <td><%= link_to "Show", message %></td>
      <td><%= link_to "Edit", edit_message_path(message) %></td>
      <td><%= link_to "Destroy", message, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Message", new_message_path %></p>
