<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Fugacious: open source short term secure messaging" %></title>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Mr+De+Haviland' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Princess+Sofia' rel='stylesheet' type='text/css'>
		<link href="images/favicon.ico" rel="shortcut icon">
		<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
		<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
		<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	</head>
	<body>
	    <script type="text/javascript">
        document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://ssl-" : "http://")
        + "include.reinvigorate.net/re_.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        reinvigorate.track("35926-uns71g8a88");
        } catch(err) {}
        </script>
	    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2029796-17']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
		<div id="ocean">
		<%= link_to image_tag('fork_me.png'), 'https://github.com/jgrevich/fugacious', :style => 'position: absolute; top: 0; right: 0; border: 0;', :title => "Fork me on GitHub"  %>
			<div class="container">
				<%= image_tag('kelp1.png', :id => :kelp1, :class => :kelp ) %>
				<%= image_tag('kelp2.png', :id => :kelp2a, :class => :kelp ) %>
				<%= image_tag('kelp2.png', :id => :kelp2b, :class => :kelp ) %>
				<%= image_tag('kelp2.png', :id => :kelp2c, :class => :kelp ) %>
				<%= image_tag('kelp2.png', :id => :kelp2d, :class => :kelp ) %>
				<%= image_tag('kelp2.png', :id => :kelp2e, :class => :kelp ) %>
				<%= image_tag('kelp3.png', :id => :kelp3, :class => :kelp ) %>
				<%= image_tag('kelp4.png', :id => :kelp4, :class => :kelp ) %>
				<%= image_tag('kelp5.png', :id => :kelp5, :class => :kelp ) %>
				<%= image_tag('kelp6.png', :id => :kelp6, :class => :kelp ) %>

				<%= image_tag('fugu.svg', :id => :fugu1, :class => :kelp ) %>
				<%= image_tag('fugu.svg', :id => :fugu2, :class => :kelp ) %>
				<%= image_tag('fugu.svg', :id => :fugu3, :class => :kelp ) %>
				<%= image_tag('fugu.svg', :id => :fugu4, :class => :kelp ) %>
				<%= image_tag('fugu.svg', :id => :fugu5, :class => :kelp ) %>
			
				<header id='header'>
					<%= link_to image_tag('logo.svg'), root_url, :id => :logo %>
					<h1><%= link_to "Fugacious", root_url %></h1>
					<h2><%= link_to raw('open source short &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; term secure messaging'), root_url %></h2>
				</header>

				<div class="content">
					<%= yield %>
				</div><!--/content-->

			</div> <!-- /container -->
		</div>

		<section id='info_panel'>
			<div class='container'>
				<nav>
					<ul class='nav nav-tabs'>
						<%= content_tag :li, link_to( "About", "#about", "data-toggle" => "tab" ), :class => :active %>
						<%= content_tag :li, link_to( "Privacy Policy", "#privacy", "data-toggle" => "tab"  ) %>
						<%= content_tag :li, link_to( "Github", "#github", "data-toggle" => "tab"  ) %>
					</ul>
				</nav>
				
				<div class='tab-content'>
					<div class='tab-pane active' id='about'>
						<p>Fugacio.us is a tool designed to assist in sending sensitive information through email or other insecure messaging protocols.</p>
						<p>One can send a username through email, save the password with us, and feel comfortable sharing user credentials without sacrificing security or usability.</p>						
					</div>

					<div class='tab-pane' id='privacy'>
						<p>We do not store personal identifiable information (PII) or set cookies containing such info. Your secret is expired when delete;we keep no archives.</p>
						<p>We do not use any analytics and we do not retain your IP address or any other information that can be tracked back to you.</p>
						<p>We do not guarantee the security of your information, and, when it comes to transmitting secure information, you should never put all of your eggs in one basket. We recommend that you send part of your secure information through another form, such as email, SMS, telephone, smoke signals, or carrier pigeon.</p>
						<p>You can always <%= link_to 'install', 'https://github.com/jgrevich/fugacious' %> your own fugacious server if you're not comfortable with ours.</p>
					</div>

					<div class='tab-pane' id='github'>
						<p>Please feel free to check out the source code at <%= link_to 'github', 'https://github.com/jgrevich/fugacious' %>.  We welcome any imporvements or bug fixes that you can offer.</p>
						<p>The application is bundled with all the required <%= link_to "Chef", 'http://www.opscode.com/chef/' %> cookbooks to provision to the host of your choice.</p>
					</div>
				</div>
			</div>
		</section>
		
		<footer>
			<p>fu ga cious: &nbsp;&nbsp;&nbsp; adj&nbsp;&nbsp;&nbsp;\fyü-ˈgā-shəs\&nbsp;&nbsp;&nbsp; :fleeting &nbsp;&nbsp;&nbsp; :ephemeral</p>
		</footer>
			

		<!-- Javascripts
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<%= javascript_include_tag "application" %>
	</body>
</html>
